<div style="position:absolute;top:0;bottom:0;">
  <marquee direction="up" style="height:100%;" behavior="scroll" scrollamount="1">
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @volunteers.each do |volunteer| %>
  <tr>
	<td><%= image_tag("#{volunteer.photo_url}", {width: 75}) %></td>  
  <td><%= link_to("#{volunteer.full_name}", volunteer_path(volunteer)) %></td>
	<td><%= render partial: 'stars/star', collection: volunteer.stars.ordered %></td>

  </tr>
<% end %>
</table>
</marquee>
</div>
