// Place all the styles related to the volunteers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.tv{
  background:rgb(6,74,132);
  color:#fff;
}
body.tv .sidebar-nav{
  color:#000;
  position:fixed;
  bottom:20px;
  right:0;
}
body.tv a{
  color:#fff;
  font-size:30px;
  font-family:arial, helvetica;
  font-style:bold;
}

